.item-card {
  display: inline-block;
  margin: 15px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #9ACBD0;
}

.item-brand {
  color: #000000;
  font-size: 0.8rem;
  margin-top: 10px;
  margin-left: 10px;
}

.item-name {
  text-transform: uppercase;
  color: #8E1616;
  margin-left: 10px;
  font-weight: 600;
}

.item-rating {
  margin: 10px;
  color: #000000;
}

.item-price {
  font-size: 1.1rem;
  margin: 10px;
  color: #000000;
}

.item-discount {
}

.item-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
